<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add any custom CSS for your error_page here -->
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Unauthorized</h2>
                        <p class="card-text text-center">Check the link and make sure the token is valid.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
